<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ldap" type="text" sortOrder="700" showInDefault="1">
            <label>LDAP</label>
            <tab>service</tab>
            <resource>Mqlogic_Ldap::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Backend Login</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1">
                    <label>active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="connection" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>LDAP Connection</label>
                <field id="servers" translate="label" type="text" sortOrder="0" showInDefault="1">
                    <label>LDAP hosts</label>
                    <comment>separated by ";"</comment>
                </field>
                <field id="protocol" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Protocol</label>
                    <comment>Protocol: ldap, ldaps</comment>
                </field>
                <field id="port" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Port</label>
                    <comment>Default port</comment>
                </field>
                <field id="dnPattern" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Domain pattern</label>
                    <comment>pattern to login ex. %s@example.com</comment>
                </field>
                <field id="domain" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Domain</label>
                </field>
            </group>
        </section>
    </system>
</config>
